.signUpContainer {
  width: 100%;
  height: 285px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
  color: #7c838a;

  .ortxt {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

    .githubBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #7c838a;
      gap: 6px;
      color: #7c838a;
      border-radius: 15px;
    }
    .googleBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #7c838a;
      gap: 6px;
      color: #7c838a;
      border-radius: 15px;
    }
  }
  .loginPrompt {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    .loginLink {
      color: #b88e2f;
      font-weight: 400;
      font-size: 18px;
    }
  }
  .createAccountBtn {
    color: white;
    width: 269;
    height: 50;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 55px;
    gap: 10px;
    opacity: 1;
    border-radius: 10px;
    background: #b88e2f;
  }
}
