.container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap:65px;
    margin:20px 0 40px 0;
  
     @media(max-width:1340px){
      gap:20px;
      margin: auto;
    }
    @media(max-width:836px){
      flex-direction: column;
      align-items: center;
    }
}
.button{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.text{
    width:223px;
}
.card {
  width: 240px;
  background:white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding-bottom: 15px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

.image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
  background: #fcf8f3;
}

.details {
  padding: 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #3a3a3a;
  margin: 10px 0 5px 0;
}

.price {
  color: #3a3a3a;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.score {
  font-size: 15px;
  color: #3a3a3a;
}

.stars {
  display: flex;
}

.review {
  color: #9b9b9b;
  font-size: 14px;
}
