.container{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin:40px;
}
.input{
    width:600px;
    height:60px;
    border-radius:15px;
    border: 1px solid #ACACAC;
    padding-left:4%;
}
.label{
    display: flex;
    justify-content: flex-start;
    color:#3A3A3A;
    font-size:16px;
    font-weight: 500;
}
