.container{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.input{
    width:600px;
    height:60px;
    border-radius:15px;
    border: 1px solid #ACACAC;
}
.label{
    display: flex;
    justify-content: flex-start;
    color:#3A3A3A;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
}
input::placeholder{
    text-indent:4%;  
}