@use '../../styles/index.scss' as i;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: i.$desktop-s) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: i.$tablet-m) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: i.$mobile-m) {
      grid-template-columns: 1fr;
    }
  }

  .btnWrap {
    display: flex;
    margin-left: 220px;
    margin-top: 32px;

    button {
      transition: transform 0.25s ease;
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
