@use '../../styles/index.scss' as i;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: i.$desktop-s) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .btnWrap {
    width: 100%;
    display: flex;
    margin-top: 32px;
    .showbtnWrap {
      margin-left: 220px;
    }

    .shopBtn {
      display: flex;
      gap: 38px;
      margin-left: 90px;
      @media (max-width: i.$desktop-s) {
        margin-right: 100px;
      }
    }

    button {
      transition: transform 0.25s ease;
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
