@use '../../styles/variables.scss' as i;

.sectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-family: i.$font-family-base;
    font-weight: 600;
    font-size: 28px;
    color: i.$dark;
    text-align: center;
    margin-bottom: 24px;
  }

  .contentWrap {
    display: flex;
    justify-content: center;
    gap: 50px;

    .sidePart {
      display: flex;
      justify-content: start;
      min-height: 300px;
      position: sticky;
      top: 80px;

      .container {
        display: flex;
        flex-direction: column;
      }
    }
    .ourProductWrap {
      display: flex;
      min-width: 0;
    }
  }
}
.btnWrapper{
  display: flex;
  flex-direction: column;
  gap:40px;
  align-items: center;
}
.buttons{
  display: flex;
  gap:16px;
}