.category-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px auto;
    align-items: center;
    h4 {
        color: #3A3A3A;
        font-size: 32px;
        font-weight: 700;
        margin: 0;
    }
    p {
        color: #ACACAC;
        font-weight: 400;
        font-size: 20px;
    }
    .category-card_grid {
        display: flex;
        gap: 15px;
    }
}