.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin:50px;

}
.form {
  display: flex;
  gap: 50px;

   @media (max-width: 1024px) {
    flex-direction: column-reverse;
    width:100%;
    align-items: center;
  }
}
.infos {
  width: 264px;
  height: 384px;
  text-align: start;
  margin: 40px;

}
.name {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.info {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
p {
  margin: 0;
}
.contact {
  width: 644px;
  height: 224px;

   @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 20px;
  }
}
.contactTitle{
    font-size:36px;
    font-weight:600;
}
.contactText{
    color:#ACACAC;
}

