.category-card_item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    img {
        border-radius: 10px;
    }
    span {
        color: #3A3A3A;
        font-weight: 600;
        font-size: 24px;
    }
}
.category-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px;
    h4 {
        color: #3A3A3A;
        font-size: 32px;
        font-weight: 700;
        margin: 0;
    }
    p {
        color: #ACACAC;
        font-weight: 400;
        font-size: 20px;
    }
    .category-card_grid {
        display: flex;
        gap: 15px;
    }
}