.explore-more-section {
    display: grid;
    grid-template-columns: 1fr auto;
    background: #FCF8F3;
    max-width: 1440px;
    margin: 0 auto;
}

.explore-more-section-left {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    padding: 0 0 0 50px;
    h1 {
        font-size: 40px;
        font-weight: 700;
        color: #3A3A3A;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        color: #ACACAC;
        width: 368px;
    }
}
