.formContainer {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    max-width: 550px;
}
.heading {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #333333;
}

.name {
    display: flex;
    gap: 15px;
}

.formGroup {
    margin-bottom: 25px;

    .label {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 700;
        color: #3A3A3A;
    }

    .select {
        width: 100%;
        height: 60px;
        border-radius: 15px;
        padding: 12px 15px;
        border: 1px solid #9F9F9F;
        font-size: 14px;
        color: #666666;
        appearance: none;
    }
}

.additionalInfoButton {
    background: none;
    border: 1px solid #ACACAC;
    border-radius: 15px;
    padding: 25px 29px;
    font-size: 16px;
    font-weight: 400;
    color: #ACACAC;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.2s;

    &:hover {
        background-color: #F8F8F8;
    }
}


@media (max-width: 600px) {
    .row {
        flex-direction: column;
        gap: 0;
    }
}