.formContainer {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: start;
    width: 100%;
}
.formCard {
    width: 100%;
    max-width: 450px;
}
.heading {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #333333;
}

.name {
    display: flex;
    gap: 30px;

    > :global(.container) {
        width: 100%;
    }
}

.formGroup {
    margin-bottom: 25px;

    .label {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 500;
        color: #333333;
    }

    .select {
        width: 100%;
        padding: 12px 15px;
        border: 1px solid #9F9F9F;
        border-radius: 5px;
        font-size: 14px;
        color: #666666;
        appearance: none;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4L146.2%20201.2%205.4%2069.4c-3.1-4.7-9.5-6.5-14.2-3.4s-6.5%209.5-3.4%2014.2l144.3%20183.1c4.5%205.7%2013%205.7%2017.5%200l144.3-183.1c3.1-4.7%201.3-11.1-3.4-14.2s-11.1-1.3-14.2%203.4z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 10px;
    }
}

.additionalInfoButton {
    background: none;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.2s;

    &:hover {
        background-color: #F8F8F8;
    }
}


@media (max-width: 600px) {
    .row {
        flex-direction: column;
        gap: 0;
    }
}