.formContainer {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 650px;
    font-family: "Poppins";
    gap: 15px;
}
.heading {
    font-size: 36px;
    font-weight: 600;
    color: #3A3A3A;
}
.formCard {
    display: flex;
    flex-direction: column;
    gap: 30PX;
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
}
.name {
    display: flex;
    gap: 15px;
}

.formGroup {

    .label {
        display: block;
        margin-bottom: 8px;
    }

    .select {
        width: 100%;
        height: 60px;
        border-radius: 15px;
        padding: 12px 15px;
        border: 1px solid #9F9F9F;
        font-size: 14px;
        color: #666666;
        appearance: none;
    }
}

.additionalInfoButton {
    display: flex;
    width: 70%;
    background: none;
    border: 1px solid #ACACAC;
    border-radius: 15px;
    padding: 15px 29px;
    font-size: 16px;
    font-weight: 400;
    color: #ACACAC;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.2s;
}
.additionalInfoButton:focus {
    outline: none;
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
        gap: 0;
    }
}