.single_product_header {
    display: flex;
    gap: 80px;
    align-items: center;
}

@media (max-width: 1165px) {
    .single_product_header {
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .single_product_header {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }

}