// Typography Colors
$dark: #3a3a3a;
$light: #acacac;
$white: #ffffff;

// Primary Color Palette
$gold: #b88e2f;
$cream: #fff3e3;
$teal: #2ec1ac;
$salmon: #e97171;
$orange: #ff9900;

//background colors
$white: #fff;
$cream: #FCF8F3;

//Fonts
$font-family-base: 'Poppins', system-ui, sans-serif;

// Breakpoints
$desktop-xl: 1920px;
$desktop-l: 1440px;
$desktop-m: 1200px;
$desktop-s: 1024px;
$tablet-l: 992px;
$tablet-m: 768px;
$tablet-s: 640px;
$mobile-l: 576px;
$mobile-m: 480px;
$mobile-s: 320px;
