@use '../../styles/variables' as i;
body {
  background-color: white;
}
.recentPost__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: i.$font-family-base;
  padding: 16px 65px;
  max-width: 400px;
  .recentPost__title {
    color: i.$dark;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .recentPost__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    .recentPost__item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      .recentPost__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        .recentPost__itemName {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
          color: i.$dark;
          font-weight: 400;
          font-size: 14px;
        }
        .recentPost__itemDate {
          font-weight: 400;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #acacac;
        }
      }
    }
  }
}
