.page-header-container {
    background-image: url('./assets/page-header/ph-image.png');
    background-size: cover;
    width: 1440px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}