.page-header-container {
  background-image: url('./assets/page-header/ph-image.png');
  background-size: cover;
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  .main-page-title {
    margin: 0;
  }
  .breadcrumb-wrapper {
    height: 1px;
    margin-top: 10px;
  }
  .page-logo-placeholder {
    margin: 0;
  }
}
