.link {
  cursor: pointer;

  a {
    color: black;
    text-decoration: none;

    &:visited {
      color: black;
      text-decoration: none;
    }

    &:hover {
      color: gray;
    }

    &:active {
      color: black;
    }
  }
}
.activeLink {
  a {
    color: #b88e2f;
    font-weight: 500;
    padding: 4px;
    border-bottom: 2px solid #b88e2f;
    text-decoration: none;

    &:visited {
      color: #b88e2f;
      text-decoration: none;
    }

    &:hover {
      color: gray;
    }

    &:active {
      color: #b88e2f;
    }
  }
}
