@use '../../styles/variables' as i;

.container {
  margin-top: 20px;
  max-width: 820px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: i.$font-family-base;
  .meta {
    display: flex;
    gap: 35px;
    .meta_item {
      display: flex;
      gap: 7px;
      margin-top: 17px;
      justify-content: center;
      align-items: center;
      .meta_info {
        display: flex;

        color: i.$light;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0%;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      font-weight: 500;
      font-style: Medium;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      color: i.$dark;
    }
    .desc {
      color: i.$light;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: justify;
    }
  }
}
