.hero-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    min-height: 100vh;
    width: 100%;
    
    background-image: url('../../assets/images/hero-section/heroimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    .hero-text {
        font-family: 'Poppins', sans-serif;
        background: #FCF8F3;
        border-radius: 10px;
        padding: 30px;
        text-align: left;
        width: 45%;
        margin-right: 55px;
    }
    span {
        font-size: 16px;
        color: #3A3A3A;
        font-weight: 600;
        margin: 0;
    }
    h1 {
        font-size: 52px;
        color: #B88E2F;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        color: #3A3A3A;
        font-weight: 500;
    }
}