.pd-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
    text-align: left;

    h3 {
        font-size: 42px;
        color: #3A3A3A;
        text-transform: capitalize;
        margin: 0;
    }

    .pd__desc {
        width: 440px;
        font-size: 13px;
        font-weight: 400;
    }

    .pd__colors {
        display: flex;
        flex-direction: column;

        .pd__label {
            font-size: 14px;
            font-weight: 400;
            color: #ACACAC;
        }
    }

    .pd__actions {
        display: flex;
        gap: 15px;
        margin: 20px 0;

        .pd__qty {
            display: flex;
            align-items: center;
            border: 1px solid #E2E2E2;
            border-radius: 15px;
            height: 50px;
            width: 130px;

            button {
                background: none;
                border: none;
                font-size: 20px;
                padding: 0 15px;
                cursor: pointer;
                outline: none;
            }

            input {
                width: 30px;
                border: none;
                outline: none;
                text-align: center;
                appearance: none;
            }
        }

        .pd__btn {
            border: none;
            outline: none;
            border: 1px solid #3A3A3A;
            background-color: #fff;
            font-size: 20px;
            font-weight: 400;
        }
    }

    .pd__swatches {
        display: flex;
        gap: 20px;
        margin-top: 8px;

        .pd__swatch {
            width: 20px;
            height: 20px;
            border-radius: 100px;
            cursor: pointer;
            outline: none;
        }
    }

    .pd__meta {
        display: grid;
        gap: 10px;
        font-size: 16px;
        color: #ACACAC;

        .pd__meta_info {
            display: grid;
            grid-template-columns: 120px 1fr;
            align-items: center;
            gap: 8px;
        }

        .pd__share {
            display: flex;
            align-items: center;
            gap: 10px;

            a {
                display: inline-block;
                width: 20px;
                height: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}