.pd-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
    text-align: left;

    h3 {
        font-size: 42px;
        color: #3A3A3A;
        text-transform: capitalize;
        margin: 0;
        font-weight: 400;
    }

    .pd__price {
        font-size: 24px;
        font-weight: 500;
        color: #ACACAC;
    }

    .pd__rating_wrapper {
        display: flex;
        align-items: center;
    }

    .pd__rating {
        display: inline-flex;
        align-items: center;
        gap: 80px;

        .pd__stars {
            align-items: center;
            display: inline-flex;
            width: 18px;
            height: 18px;
            color: #FF9900;
            position: relative;
        }

        .pd__reviews {
            color: #ACACAC;
            font-size: 13px;
            font-weight: 400;
        }
    }

    .pd__desc {
        width: 440px;
        font-size: 13px;
        font-weight: 400;
    }

    .pd__colors {
        display: flex;
        flex-direction: column;

        .pd__label {
            font-size: 14px;
            font-weight: 400;
            color: #ACACAC;
        }
    }

    .pd__actions {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 20px 0;

        .pd__qty {
            display: grid;
            grid-template-columns: 40px 1fr 40px;
            align-items: center;
            text-align: center;
            border: 1px solid #E2E2E2;
            border-radius: 15px;
            height: 50px;
            min-width: 130px;
            padding: 0 10px;
            box-sizing: border-box;
            font-size: 20px;

            button {
                padding: 0 15px;
                cursor: pointer;
                outline: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 32px;
                background: transparent;
                border: 0;
                line-height: 1;
                user-select: none;
            }

            input {
                font-size: 16px;
                width: 40px;
                height: 32px;
                margin: 0 auto;
                border: none;
                outline: none;
                text-align: center;
                line-height: 32px;
            }

            input::-webkit-inner-spin-button,
            input::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        .pd__btn {
            border: none;
            outline: none;
            border: 1px solid #3A3A3A;
            border-radius: 15px;
            background-color: #fff;
            font-size: 20px;
            font-weight: 400;
        }
    }

    .pd__swatches {
        display: flex;
        gap: 20px;
        margin-top: 8px;

        .pd__swatch {
            width: 40px;
            height: 40px;
            border-radius: 100px;
            cursor: pointer;
            outline: none;
        }
    }

    .pd__meta {
        display: grid;
        gap: 10px;
        font-size: 16px;
        color: #ACACAC;

        .pd__meta_info {
            display: grid;
            grid-template-columns: 120px 1fr;
            align-items: center;
            gap: 8px;
        }

        .pd__share {
            display: flex;
            align-items: center;
            gap: 10px;

            a {
                display: inline-block;
                width: 20px;
                height: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .pd-section {
        width: 100%;
        max-width: none;
    }
}