.checkoutPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}
.checkoutPage_header {
    width: 99vw;
    margin-bottom: 50px;
}
.checkoutPage_grid {
    display: flex;
    gap: 50px;
    margin: 0 auto;
}
