.checkoutPage {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.checkoutPage_header {
    width: 100%;
    width: 1440px;
}
.checkoutPage_grid {
    display: flex;
    gap: 50px;
    margin: 0 auto;
}
