.navContainer{
    max-width:1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    width: 139px;
    height: 41px;
    font-size:34px;
    font-family: "Montserrat", sans-serif;
    margin-left:5px;
}
.navLinks, .navIcons, .navTitle{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:50px;
}
.navLinks{
    width:430px;
    font-size:16px;
    font-family: "Poppins", sans-serif;
    cursor: pointer; 
}
.icon{
    padding:25px;
    cursor: pointer;
}
@media (max-width: 768px) {
  .navLinks{
    display:none;
  }
}
@media (max-width: 480px) {
  .navContainer{
     flex-direction: column;
  }
  .navIcons, .navTitle{
    padding:10px;
  }
}
