@use '../../styles/variables' as i;

.container {
  width: 99vw;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 140px;

  .favoritesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media (max-width: i.$desktop-m) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  .emptyFavorites {
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .emptyText {
    font-family: i.$font-family-base;
    font-size: 20px;
    color: i.$dark;
    text-align: center;
  }
}
