.comparisonContainer{
    width: 99vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.compareContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}