.container {
  max-width: 1440px;
  margin: auto 0;
  position: relative;

  .swiper-slide {
    display: flex;
    justify-content: center;
    transform-origin: top center;
    margin-bottom: 50px;
  }
  .swiper-slide-prev,
  .swiper-slide-next {
    transform: scale(0.9, 0.9);
    opacity: 0.5;
  }
  .swiper-slide-active .card {
    transform: scale(1.5, 1.2);
  }
}

.card {
  position: relative;
}
.furniture {
  display: block;
  height: 348px;
}

.swiper-slide-active {
  opacity: 1;
}
.swiper{
  display: flex;
  gap:10px;
}