.container{
    display: flex;;
    gap:12px;
    padding: 20px;
    overflow: hidden;
    max-width: 99vw;
}
.text{
    color: #ACACAC;
    font-size:20px;
    font-weight:600;
}
p,h1{
    margin:10px;
}