.login-page {
    display: flex;
    width: 100%;
    padding: 30px;
}

.login-card {
    width: 100%;
    max-width: 650px;
    h1 {
        text-align: center;
        font-size: 26px;
        font-weight: 600;;
    }
    label {
        display: block;
        text-align: left;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        color: #3A3A3A;
    }
    input {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 15px;
        border: 1px solid #ACACAC;
        outline: none;
    }
}
.or {
    text-align: center;
    color: #B0BAC3;
    font-size: 16px;
    font-weight: 500;
}
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
        .social-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid #7C838A;
        border-radius: 15px;
        padding: 2px 10px;
        outline: none;
        }
        span {
            font-size: 14px;
            font-weight: 500;
            color: #7C838A;
            text-align: center;
        }
        img {
            width: 40px;
            height: 40px;
        }
}
.submit-button {
    display: inline-block;
    width: auto;
    background: #B88E2F;
    color: white;
    padding: 10px 55px;
    border-radius: 10px;
    margin-top: 10px;
}