.spp-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.full-bleed {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100dvw;
    box-sizing: border-box;
}